body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        'stock   waste    .....  foundation foundation foundation foundation'
        'tableau tableau tableau  tableau    tableau    tableau    tableau';
    gap: 10px 10px;
    width: max-content;
    /* border: solid black; */
    /* background-color: darkgreen; */
    justify-items: center;
    align-items: start;
    align-content: start;
}

#stock {
    grid-area: stock;
}

#waste {
    grid-area: waste;
}

#foundation {
    grid-area: foundation;
}
#tableau {
    grid-area: tableau;
}
#foundation, #tableau {
    display: flex;
    gap: 10px 10px; /* FF>=63, Chrome/Edge >=84 */
    justify-content: flex-start;
}
